$menu-lettler-color: #FFFFFF;
$font-size-menu: 15px;
$back-ground-menu-desplegado: rgba(87,46,229,0.90);
$burguer-menu-lines:#572EE5;
$titles-color:#572EE5;
$screen-border-color: #50E3C2;
$suggestions-color:#9CAFC3; 